.main  {
    display: grid;
    grid-template-columns: 300px auto;
    max-width: 1000px;
    margin-inline: auto;
    font-size: 21px;

}
.leftside {
    background-color: aqua;
}
.rightside {
    background-color: brown;
    align-items: center;
    justify-items: center;
    
}
.contact {
    padding-left: 10px;
}
.footer {   
    max-width: 1000px;
    margin-inline: auto;
    font-size: 21px;
    margin-top: 0px;
    padding-top: 0px;
    background-color: blueviolet;

}
.link-github {

}
.links-footer {
    list-style-type: none;
    display: flex;
    column-gap: 50px;
    max-height: 80px;
}
